<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myparking">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <dist:module dist:instant="true" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".HomeActivity" />
        <activity android:name=".activities.NoConnexionActivity" />

        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SliderActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".utils.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data android:name="com.here.android.maps.appid"
            android:value="KHFoWjkZtNBiqhqjmcKR"/>
        <meta-data android:name="com.here.android.maps.apptoken"
            android:value="tJI2IP1zzj0Ffky1W-uqZg"/>
        <meta-data android:name="com.here.android.maps.license.key"
            android:value="fxJRO3Qo4DiwrT2xeNFjr+fexgV2wq/OzN32y8ztofGHNgBJ2ZS7McMW/nNTRnilhs4nO8hpEPJAru40SYJCMrg1AbVGVZHbjDtdyg8+RfNL5w7D/x10zb5U0WLGNvoj9G7HHgECxD8srAmTTNBl+roXEm/O/oVU7+sgxRKLeQ7J+WXRK5yGZVuhBE+AR8F1XiNoR2McaAUKAdLn36VZnMbiwzN9juY20qFu5g21biCOu4btiAvfuFuaObBQ/rxgD5Pa4uRhdoQdWNIReqHwRlT5WygYgGwmvRLaGbMsaeUwjs2T/bqwjgsG6/pUrS1dglP9o4bm+adzQW1rT6MiBm135DOivTYiC+WQMZVsS+QOEXhaE+wUqmBqMGylLelnhYyyyLNRHg3IHGL+4Q2Z4NHCWBgs1MPQCJsYXpyA3MAm9WKS/E+j5OirDhavt+VVNq/HXwdHc5nP0qQsHBs2crC55V2xgbt8dKQ2S+1Pf8/apoe6Qbg5SJW5xsJEiK0tDA2Wanrd4dO0fsFhYlhdTF68jxbCIA+4pUhUhaYIFRL9KUDFIlOYQYoXihOLh/kD9K3TJE1t0iIi51AFSeY6ggGrpwvrGwAcctkshjcLIKRcvlp7zMhn4GEEnElrUY1XbwZy1jhu7Z+KCupJjakFQ9XZ4eZSFrgfS388vf86Txc="/>

        <service
            android:name="com.here.android.mpa.service.MapService"
            android:label="HereMapService"
            android:process="global.Here.Map.Service.v3">
            <intent-filter>
                <!--Note, action name should not be changed.-->
                <action android:name="com.here.android.mpa.service.MapService.v3" />
            </intent-filter>
        </service>

        <service android:name=".utils.ForegroundService" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <service android:name=".NotificationsMessagingService">
            <intent-filter android:priority="1">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>